{% extends 'Backend/Content/Auth/Base.twig' %}

{% block content %}

    {% if APP_LOGO != "" %}

        <div align="center" style="padding-top: 40px;">

            <img src="{{ PUBLIC_DIR }}logo/{{ APP_LOGO }}" alt="" width="100px;">

        </div>

    {% endif %}

    <div class="form-login">

        <form method="post" action="{{ RESET_ACTION }}">

            <h1>Set your New Password</h1>

            <p>
                <input type="password" name="user_password_new" placeholder="New password (min. 6 characters)" pattern=".{6,}" required autocomplete="off">
            </p>

            <p>
                <input type="password" name="user_password_repeat" placeholder="Repeat New Password" pattern=".{6,}" required autocomplete="off">
            </p>

            <p>

                <img id="captchaImage" src="{{ CAPTCHA }}" width="100%" style="margin-top: 10px;"/>

                <input type="text" name="captcha" placeholder="Please enter above characters" required/>

            </p>

            <p align="center" style="margin: 10px;">Enter Captcha or <a class="link" href="javascript:void(0)" onclick="document.getElementById('captchaImage').src =

                        '{{ CAPTCHA }}&morerandom=' + Math.floor(Math.random() * 10000);"><span class="fa fa-refresh"></span> Refresh</a>
            </p>

            <input type="hidden" name="{{ CSRF_TOKEN_NAME }}" value="{{ CSRF_TOKEN_VALUE }}"/>
            <input type='hidden' name='user_name' value='{{ USER_NAME }}' />
            <input type='hidden' name='user_password_reset_hash' value='{{ HASH }}' />

            <p>
                <input type="submit" name="submit" value="Recover">
            </p>
            <br>
            <div id="auth-link">
                <a class="link" href="{{ SIGNUP_LINK }}">Register</a> - <a class="link" href="{{ LOGIN_LINK }}">Secure Login</a>
            </div>
        </form>​

    </div>
        
{% endblock %}